@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

/*backgrounds*/


#mainBody{
  background-image: url(img/signupBackground.svg);
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
}

#lvOneBody{
  background-image: url(img/spacebackground.svg);
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 'Orbitron', sans-serif
}
#dashboardBody{
  font-family: 'Orbitron', sans-serif

}

.signup{
  background: transparent;
  color: white;
}

.signup:hover{
  color: #00ac7a;
}

.btn-primary{
  background-color: #00ac7a;
  border-color: transparent;
}
.btn-primary:hover{
  border-color: #00ac7a;
  background-color: #313851;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}

/*NavBar*/
#navLogo{
  width: 100px;
}
.navbar{
  background: #00ac7a;
}


/*SignUp Form*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*Game Container*/
#container{
    height: auto;
    width: 50%;
    background-color: #313851;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#leftDashboardHeader{
  text-align: center;
  margin-top: 10px;
  color: #313851;
}

#score{
    background-color: #313851;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

#correct{
    position: absolute;
    background-color: #00ac7a;
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    background-color: #de401a;
    color: white;
    padding: 11px;
    display: none;
}

#question{
    width: 450px;
    height: 150px;
    margin: 10px auto 10px auto;
    background-color: white;

    font-size: 100px;
    text-align: center;
    /*font-family: cursive, sans-serif;*/
    color: black;
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: #00ac7a;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
}

#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover, #startreset:hover{
/*    background-color: #9C89F6;*/
/*    color: white;*/
/*    box-shadow: 0px 4px #6b54d3;*/
/*    -moz-box-shadow: 0px 4px #6b54d3;*/
/*    -webkit-box-shadow: 0px 4px #6b54d3;*/
}

.box:active, #startreset:active{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 0px #6b54d3;
    -moz-box-shadow: 0px 0px #6b54d3;
    -webkit-box-shadow: 0px 0px #6b54d3;
    top: 4px;
}
#box4{
    margin-right: 0;
}

#startreset{
    background-color: #00ac7a;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#timeremaining{
  background-color: #F99947;
  color: white;
  width: 200px;
  height: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
/*    visibility: hidden;*/
    display: none;
}

#gameOver{
    height: 200px;
    width: 400px;
    background: #F99947;
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    display: none;

}



/*Dashboard*/
#leftDashboard{
  background: #DECC99;
  min-height: 700px;
}
hr{
  margin-top: 30px;
  background: #00ac7a;
  height: 2px;
}
#leftDashboard ul{
  margin-top: 50px;
  list-style: none;
  font-size: 1em;
  color: #313851;
}


#gameView{
  background-image: url(img/spacebackground.svg);
  background-repeat:no-repeat;
  background-size: cover;
  font-family: 'Orbitron', sans-serif
}

#btnLogout{
  background-color: #F7675C;
  color: white;
  width: 200px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;

}

.signupForm{
  background: #313851;
  padding: 40px;
  max-width: 600px;
  min-height: 350px;
  margin: 40px auto;
}
.signupForm h1, p{
  text-align: center;
  color: #00ac7a;
}

.signupForm input{
  width: 400px;
  height: 40px;
  margin-bottom: 5px;

}
.signupForm button{
  display: inline;
  margin: 0 auto;
}
.buttons{
  margin-right: 55px;

}